<!DOCTYPE html>
{% set _v = 23 %}
{% set adapter_version = '2.4.15' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Adapter brings CSS to the next level with Javascript & Web Component
            which make it programmable with many features such as isolation,
            inheritancs, shadow DOM style, etc.
        ">
    <title>Adapter : CSS to the next level with Javascript & Web Component</title>
    <link rel="stylesheet" href="{{to_base}}base.css?v={{_v}}">
    <script type="module" src="{{to_base}}base.js?v={{_v}}"></script>
    {% block head %}{% endblock %}
    {% include '_include/google-tag.html' %}
</head>
<body style="visibility: hidden;">
{% block body %}{% endblock %}
</body>
</html>