{% extends '_base.html' %}
{% set to_base = './' %}
{% block head %}
{{super()}}
<script defer type="module" src="index.js?v={{_v}}"></script>
{% endblock head %}

{% block body %}
<el-heading>
    <div class="width-100">
        <h1 class="width-100">Adapter</h1>
        <h2 style="margin-top: 0;">2.3.0</h2>
    </div>
    <div class="width-100">
        <h2 class="width-100">Adaptive Style Web Component Framework</h2>
    </div>
    <div class="width-100 flex">
        <el-code-block style="display: inline-flex;">
            <pre><code class="language-shell">$ npm i @devcapsule/adapter</code></pre>
        </el-code-block>
    </div>
    <el-particle-scene></el-particle-scene>
</el-heading>
<el-heading-buttons class="container flex" style="justify-content: center; margin-top: 2rem;">
    <a href="./guide/">
        <button el="guide" style="font-size: 1.25em;">
            <el-icon name="open-book" style="fill: white;"></el-icon>
            Guide
        </button>
    </a>
    <a href="https://github.com/keenlycode/adapter">
        <button el="github" style="font-size: 1.25em;">
            <el-icon name="github" style="fill: white;"></el-icon>
            Github
        </button>
    </a>
    <a href="https://discord.gg/Z69dB6zxwC">
        <button el="discord" style="font-size: 1.25em;">
            <el-icon name="discord"></el-icon>
            Discord
        </button>
    </a>
</el-heading-buttons>
<div class="container">
    {{markdown('index.html.content.md')}}
</div>
{% endblock body %}