{% set _v = 1 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Adapter - Guide</title>
    {% endblock %}
    <link rel="stylesheet" href="{{to_base}}base.css?v={{_v}}">
    <link rel="stylesheet" href="{{to_base}}guide/base.css?v={{_v}}">
    <script defer type="module" src="{{to_base}}base.js?v={{_v}}"></script>
    <script defer type="module" src="{{to_base}}guide/base.js?v={{_v}}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<el-sidebar>
    <h1>Guide</h1>
    <el-menu>
        <details open class="open">
            <summary>
                <a href="{{to_base}}guide/setup/index.html"><h2>Setup</h2></a>
                <div class="toggle">▸</div>
            </summary>
            <div class="container">
                <div><a href="{{to_base}}guide/setup/index.html#cdn">CDN</a></div>
                <div><a href="{{to_base}}guide/setup/index.html#npm">NPM</a></div>
            </div>
        </details>
    </el-menu>
</el-sidebar>
{% block body %}{% endblock %}
</body>
</html>