{% set _v = 1 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Adapter - Guide</title>
    {% endblock %}
    <script defer type="module" src="{{to_base}}base.js?v={{_v}}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<el-sidebar>
    <el-menu>
        <details>
            <summary><h2>Getting Started</h2></summary>
            <div class="container">
                <div class="width-100">1</div>
                <div class="width-100">2</div>
                <div class="width-100">
                    <details>
                        <summary>Child</summary>
                        <div class="container">
                            <div class="width-100">2-1</div>
                        </div>
                    </details>
                </div>
            </div>
        </details>
    </el-menu>
</el-sidebar>
{% block body %}{% endblock %}
</body>
</html>